.popup__input {
  all: unset;
  margin: 15px 22px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  max-width: 238px;
}
.popup__input:nth-child(1) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .popup__input {
    margin: 15px 36px;
    max-width: 358px;
  }
}
