.page {
  background: #000000;
  margin: auto;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  color: #ffffff;
  text-rendering: optimizeLegibility;
  max-width: 880px;
}
.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  width: 103px;
  height: 24px;
  padding: 28px 190px 31.6px 27px;
  object-fit: cover;
  display: block;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 142px;
    height: 33px;
    padding: 45px 0 41px;
  }
}

.profile {
  margin: 42px auto 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.profile__image {
  padding: 0;
  margin: 0;
  width: 120px;
  border-radius: 50%;
}
.profile__full-info {
  padding: 0;
  margin: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.profile__info {
  padding: 0;
  margin: 0;
  margin-top: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile__title {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  height: 26px;
  min-width: 189px;
}

.profile__edit-button {
  all: unset;
  background: url(./images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  align-self: flex-end;
  width: 18px;
  height: 18px;
  border: 1px solid #ffffff;
}
.profile__subtitle {
  padding: 0;
  margin: 0;
  margin-top: 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.profile__add-button {
  all: unset;
  margin: 36px 19px 0;
  background: url(./images/Vector2.svg);
  background-repeat: no-repeat;

  background-position: center;
  min-width: 282px;
  height: 50px;
  border: 1px solid #ffffff;
}
@media screen and (min-width: 768px) {
  .profile {
    margin: 40px auto 51px;
    flex-direction: row;
    justify-content: flex-start;
  }
  .profile__full-info {
    align-items: start;
    margin: 0 0 0 30px;
  }
  .profile__title {
    width: 294px;
    font-size: 42px;
    line-height: 48px;
    height: 39px;
  }
  .profile__edit-button {
    width: 24px;
    height: 24px;
  }
  .profile__subtitle {
    margin-top: 16px;
    font-size: 18px;
    line-height: 22px;
  }
  .profile__add-button {
    margin: 0 0 0 auto;
    min-width: 150px;
  }
}

.group {
  margin: 36px auto 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  gap: 20px 17px;
  justify-content: center;
}
.element {
  margin: 0;
  padding: 0;
  background: #ffffff;
  border-radius: 10px;
  width: 282px;
  height: 361px;
  display: flex;
  flex-direction: column;
}
.element__img {
  border-radius: 10px;
  margin: 0;
  padding: 0;
  width: 282px;
}
.element__info {
  margin: 25px auto 31px 21px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 246px;
  height: 23px;
}
.element__title {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.element__button {
  all: unset;
  margin: 0;
  padding: 0;
  background: url(./images/Vector3.svg);
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  align-self: flex-end;
}

@media screen and (min-width: 768px) {
  .group {
    margin: 51px auto 0;
  }
}

.footer {
  margin: 48px 19px 36px;
  padding: 0;
  max-width: 282px;
  float: left;
}
.footer__copy {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #545454;
}
@media screen and (min-width: 768px) {
  .footer {
    margin: 67px auto 60px;
    max-width: 318px;
  }
  .footer__copy {
    font-size: 18px;
    line-height: 22px;
  }
}
