.popup__container {
  margin: auto;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 10px;
  max-width: 282px;
  min-height: 322px;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .popup__container {
    max-width: 430px;
    min-height: 330px;
  }
}
