.popup__but-close {
  all: unset;
  position: absolute;
  background: url(../../../images/CloseIcon.svg);
  width: 20px;
  height: 20px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  right: 0;
  top: -37px;
  cursor: pointer;
}
.popup__but-close:hover {
  opacity: 0.6;
}
@media screen and (min-width: 768px) {
  .popup__but-close {
    width: 32px;
    height: 32px;
    right: -50px;
    top: -42px;
  }
}
