.popup__but-close {
  all: unset;
  position: absolute;
  background: url(../../../images/CloseIcon.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  top: -36px;
  right: -1px;
  cursor: pointer;
  transition: opacity 0.2s;
}
.popup__but-close:hover {
  opacity: 0.6;
}
@media screen and (min-width: 768px) {
  .popup__but-close {
    background: url(../../../images/CloseIcon2.svg);
    top: -39px;
    right: -40px;
    height: 32px;
    width: 32px;
  }
}
