.element__trash {
    all: unset;
    background-image: url(../../../images/Trash.svg);
    width: 18px;
    height: 19px;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: opacity 0.2s;
  }
  
  .element__trash:hover {
    opacity: 0.5;
    cursor: pointer;
  }